@model Vendor_Product_Revenue_MVC.Models.StoreFront

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StoreFront</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreFrontName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreFrontName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreFrontUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreFrontUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
